# dependencies
/node_modules
**/node_modules/
frontend/node_modules/
backend/node_modules/

.cache/
**/.cache/

/.pnp
.pnp.js

# testing
/coverage

# Build outputs
build/
dist/
out/
coverage/

frontend/build/
frontend/dist/
backend/build/
backend/dist/


# production
/build

# misc
.DS_Store
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

